*{
    margin: 0px;
    padding: 0px;
    font-family: 'Circular Std';
}

.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    padding: 0 0px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, padding 0.3s;
}

nav.scrolling-nav {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav.scrolling-nav a,
nav.scrolling-nav .nav-links ul li a {
    color: black;
    transition: color 0.3s;
}

nav img {
    width: 150px;
    margin-left: 30px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    transition: color 0.3s;
}

.nav-links ul li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: width 0.2s;
    margin-top: 7px;
}

.nav-links ul li a:hover:after {
    width: 90%;
}

.hero-btn:hover {
    transform: scale(1);
    border: 1px solid #f44336;
    background: #f44336;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {

    .nav-links ul li {
        display: block;
        margin-bottom: 10px;
    }

    .nav-links ul li a {
        color: black;
        font-weight: 500;
    }

    .nav-links {
        position: absolute;
        background-color: #ffffff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: right 0.3s;
    }

    nav .fa {
        display: block;
        color: white;
        font-size: 19px;
        cursor: pointer;
        margin-right: 30px;
    }

    nav.scrolling-nav .fa {
        color: rgb(255, 255, 255);
    }

    nav.scrolling-nav a,
    nav.scrolling-nav .nav-links ul li a {
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: color 0.3s;
    }

    nav.scrolling-nav .fa {
        color: black;
    }

    #nav-close {
        margin: 20px;
        margin-top: 30px;
        font-size: 25px;
        color: rgb(0, 0, 0);
    }

    .nav-links ul {
        padding: 30px;
        padding-left: 13px;
    }

}

.header {
    width:100%;
    min-height:50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    text-align: center;
}

.content{
    padding-top: 1100px;
}

.footer {
    background-color: rgb(35, 35, 35);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px 25px 0px 0px;
}

.logo-footer {
    margin-bottom: 30px;
    width: 170px;
}

.icons-footer {
    color: white;
    font-size: 25px;
}

.icons-footer a {
    text-decoration: none;
    margin-right: 10px;
}

.icons-footer i:hover {
    color: red;
}

.icons-footer a:last-child {
    margin-right: 0;
}

.icons-footer i {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-text {
    color: white;
    font-size: 15px;
    font-weight: 450;
    margin-top: 30px;
}

.footer-link {
    text-decoration: none;
    color: white;
}
